# Different way of Printing Output

In [1]:
print(48)

48

In [3]:
print ("Udita")

Udita

In [6]:
print (qwertyj      dxfcgvuh)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2034692683.py, line 1)

In [8]:
a=34
print(a)

34

In [10]:
soni=89
print(soni) #here "soni" is a variable

89

In [11]:
f=89
w=45
o=34
print(f,w,o)

89 45 34

In [12]:
u=9
print(u)
type(u)

9

int

In [13]:
x='5' #5 is in the single quotation so it consider as string
print(x)
type(x)

5

str

In [1]:
x=7
y=3
z=3
print(x,y,z)

7 3 3

In [4]:
x=7
y=3
z=6
print(x,y,z,sep=":")    # it will show output and separate them with ":".

7:3:6

In [7]:
f=67
print("This will show you the value of f :",f)

This will show you the value of f : 67

First_name="Udita"
Last_name="Sonu"

In [10]:
print(Last_name,First_name)

Sonu Udita

In [11]:
print("Name:-",First_name,Last_name)

Name:- Udita Sonu

In [13]:
print("My good name is :",First_name,"and my nick name is :",Last_name)

My good name is : Udita and my nick name is : Sonu

In [15]:
print("My good name is : {} and my nick name is :{}" .format(First_name,Last_name))  
# This is the dot-format

My good name is : Udita and my nick name is :Sonu

In [17]:
print("My good name is : {first} and my nick name is :{last}" .format(last=First_name,first=Last_name))  
#if you change the postition then it wil change the output accordingly.

My good name is : Sonu and my nick name is :Udita

In [22]:
print("Hii {Name} {Greeting} {Greetings} {Name}".format(Name="Udita",Greeting="Good Morning",Greetings="Have a nice day"))

Hii Udita Good Morning Have a nice day Udita

In [23]:
print("Hii {Name} {Greeting} {Name}".format(Name="Udita",Greeting="Good Morning",Name="sonu")))
#if there is same position name and you provide different values ,it will show you error

SyntaxError: unmatched ')' (737036119.py, line 1)

## Different way of taking input

In [26]:
#small calculation
a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
add=a+b
sub=a-b
mul=a*b
div=a/b
mod=a%b
print("ADD:",add)

Enter the value of a:  20
Enter the value of b:  5

ADD: 25

In [27]:
print("sum={1} , Diff{2} , Multi={3},Divi={4},Modu={5}".format(add,sub,mul,div,mod))
#show error because index position starts with "0"

IndexError: Replacement index 5 out of range for positional args tuple

In [30]:
print("sum={0} , Diff={1} , Multi={2} , Divi={3} , Modu={4}".format(add,sub,mul,div,mod))

sum=25 , Diff=15 , Multi=100 , Divi=4.0 , Modu=0

In [34]:
#useing conditions
print('{0:<4} | {1:<4} | {2:<4} | {3:<4}'.format('Sum', 'Diff', 'Mul', 'div'))
print('{0:<4} | {1:<4} | {2:<4} | {3:<4}'.format(add, sub, mul, div))
#you can put conditinds Here ue puts the contions in the index value

Sum  | Diff | Mul  | div
25   | 15   | 100  | 4.0

In [41]:
#Formatting the string literals
A= "Python class."
print (f"welcome students to {A}!")

welcome students to Python class.!

In [45]:
D= input("Enter the college name :-") #it is ok to not define the data type
C= input("Enter the number of students :-")
print("The name of the clg and the number of students:",D,C)

Enter the college name :- GIFT
Enter the number of students :- 5600

The name of the clg and the number of students: GIFT 5600

In [46]:
print("The name of the clg is:-",D,"and the number of students are:",C)

The name of the clg is:- GIFT and the number of students are: 5600

In [47]:
print("The name of the clg {} and the number of students are{}:".format(D,C))

The name of the clg GIFT and the number of students are5600:

In [48]:
print("The name of the clg {ab} and the number of students {cd}:".format(ab=D,cd=C))

The name of the clg GIFT and the number of students 5600:

In [50]:
type(D)

str

In [51]:
type(C) #if the data type is not defined it's default value is 'str'

str

In [52]:
n=int(input())

 45

In [53]:
type(n)

int

In [54]:
r=input()

 89

In [55]:
type(r) #data type is not defined

str

In [56]:
g=input()

 34.78

In [57]:
type(g)

str

In [61]:
h=input("Age:-")
h

Age:- 56.5

'56.5'

In [62]:
type(h)

str

In [67]:
h= float(input("Age:-"))
h

Age:- 67.00

67.0

In [70]:
Name= str(input("Your name ?"))
print("have a good day " + Name)

Your name ? udita

have a good day udita

In [72]:
Name= int(input("Your name ?")) # your data type is int and if you enter the string value then it will show you error
print("have a good day " + Name)

Your name ? udita

ValueError: invalid literal for int() with base 10: 'udita'

In [81]:
#multiple inputs in a single entry
x , y =input("Enter number:-")
print(x)
print(y)

Enter number:- 56

5
6

In [83]:
x , y =input("Enter number:-").split(" ") #it helps you to split the value while entering 
print(x)
print(y)

Enter number:- 90 89

90
89